test_env/
__pycache__/
*.pyc
.env
# Virtual environments
venv/
dsenv/
.env/

# Python cache
__pycache__/
*.pyc

# Model files
*.pkl

# Jupyter
.ipynb_checkpoints/

#OS
.DS_STORE
*.pkl
# Virtual environments
venv/
env/
.dsenv/
treeproject/venv/

# Models
*.pkl
*.joblib
